.table th{
  padding: 12px 24px;
  text-align: left;
  background-color: #EEF2F6;
  color: #364152;
  font-size: 14px;
}

.table tr:nth-child(even){
  background-color: #FCFCFD;
}

.table td{
  /*padding: 16px 0;*/
  font-size: 14px;
}